[submodule "stremio-qt5"]
	path = stremio-qt5
	url = https://salsa.debian.org/mendezr/stremio.git
[submodule "stremio-server"]
	path = stremio-server
	url = https://salsa.debian.org/mendezr/stremio-server.git
[submodule "chromium-embedded-framework"]
	path = chromium-embedded-framework
	url = https://salsa.debian.org/mendezr/chromium-embedded-framework.git
[submodule "stremio-gtk"]
	path = stremio-gtk
	url = https://salsa.debian.org/mendezr/stremio-gtk.git
[submodule "rust-cef-dll-sys"]
	path = rust-cef-dll-sys
	url = https://salsa.debian.org/mendezr/rust-cef-dll-sys.git
[submodule "rust-cef"]
	path = rust-cef
	url = https://salsa.debian.org/mendezr/rust-cef.git
