[submodule "stremio-qt5"]
	path = stremio-qt5
	url = https://salsa.debian.org/mendezr/stremio-qt5.git
[submodule "stremio-server"]
	path = stremio-server
	url = https://salsa.debian.org/mendezr/stremio-server.git
[submodule "stremio-gtk"]
	path = stremio-gtk
	url = https://salsa.debian.org/mendezr/stremio-gtk.git
[submodule "rust-cef-dll-sys"]
	path = rust-cef-dll-sys
	url = https://salsa.debian.org/mendezr/rust-cef-dll-sys.git
[submodule "rust-cef"]
	path = rust-cef
	url = https://salsa.debian.org/mendezr/rust-cef.git
[submodule "stremio-qt6"]
	path = stremio-qt6
	url = https://salsa.debian.org/mendezr/stremio-qt6.git
[submodule "brow6el"]
	path = brow6el
	url = https://salsa.debian.org/mendezr/brow6el.git
